body, pre {
    margin: 0;
    display: flex;
    align-items: center;
}
body {
    height: calc(100vh - 16px * 2);
    padding: 16px;
}
.right {
    flex: 1;
}
.left {
    display: flex;
    flex-direction: column;
}
pre code.hljs {
    padding: 0 calc(1em + 24px) 0 1em;
}
pre {
    margin-bottom: 8px;
}
code {
    padding: 0 initial;
    width: 100%;
    position: relative;
    border-radius: 8px;
    pointer-events: none;
}
.copy::before {
    content: url(../svg/copy.svg);
    right: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    padding-top: 4px;
    box-sizing: border-box;
    background-color: #0f3443;
    color: white;
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
}
.check::before {
    content: url(../svg/check.svg);
    right: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    padding-top: 4px;
    box-sizing: border-box;
    background-color: #34e89e;
    color: white;
    position: absolute;
    cursor: pointer;
    pointer-events: auto;
}