body, pre {
    margin: 0;
    display: flex;
    align-items: center;
}
body {
    height: calc(100vh - 16px * 2);
    padding: 16px;
}
.right {
    flex: 1;
}
.left {
    display: flex;
    flex-direction: column;
}
pre code.hljs {
    padding: 0 16px 0 40px;
}
pre {
    margin-bottom: 8px;
    max-height: calc((100vh - 8px * 2) / 2);
    overflow: auto;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
}
code {
    padding: 0 initial;
    width: 100%;
    position: relative;
    border-radius: 8px;
    pointer-events: none;
}
.copy::before {
    content: url(../svg/copy.svg);
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    padding-top: 4px;
    box-sizing: border-box;
    background-color: #dd3e54;
    color: white;
    position: fixed;
    margin: 8px 0 0 -32px;
    cursor: pointer;
    pointer-events: auto;
}
.check::before {
    content: url(../svg/check.svg);
    width: 24px;
    height: 24px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    padding-top: 4px;
    box-sizing: border-box;
    background-color: #6be585;
    color: white;
    position: fixed;
    margin: 8px 0 0 -32px;
    cursor: pointer;
    pointer-events: auto;
}